a{
  color:#E09710;
  font-size:18px;
}
.abcde{
  transform: rotate3d(-1, -1, -1, 10deg);
  color:rgba(360,360,360,0.4);
  font-size:30px;
background-color: green;
border: 4px solid #E09710;
margin: 10px;
margin-left: 500px;
margin-right: 500px;
border-radius: 15px;
opacity: 0.7;
box-shadow: 15px 15px 7px #000000
}
.abcd{
  transform: rotate3d(1, 1, 1, 10deg);
  color:rgba(40,360,360,0.4);
  font-size:30px;
background-color: GRAY;
border: 4px solid #E76470;
border-radius: 15px;
margin: 10px;
margin-right: 850px;
box-shadow: 15px 15px 7px #000000
}
.abcd:hover{
    transform: rotate(360deg);
  border: 4px solid red
}
.abcde:hover{
    transform: rotate(360deg);
  border: 4px solid red
}
.imgag:hover{
  transform: rotate(45deg) ;
    border: 4px solid red

}
body {
  background-image: url(white.jpg)
}
